<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    

    <title>Movies Reviews</title>
    
  </head>
  <body>
<!--container start-->
<div class="container">

      <!--Menu Items start-->
      <div  class="menu" >
       
        <a class="logo" href="/">Movies Reviews</a>
        <a class="item" href="/list">Movies</a>
        <a class="item" href="#">Top 10</a>
        <a class="item" href="#">Most visited</a>
        <a class="item" href="/login">Login</a>
         <a class="item" href="/register">Register</a>
      </div>
      <!--Menu Items end-->

       <!--Cover start-->
       <div class="cover">
       <p> Discover new movies and rate them ...</p>
       </div>

       <!--Cover end-->

       <!--Movies start-->
       <div  class="movies">


       <!--movie-->
       <div class="movie">
             <h1>Movie title </h1>
             <img src="{{asset('images/1.jpg')}}" />
             <p>description</p>
             <button>More ..</button>

       </div>
       <!--movie end-->

        <!--movie-->
       <div class="movie">
             <h1>Movie title </h1>
             <img src="{{asset('images/2.jpg')}}" />
             <p>description</p>
             <button>More ..</button>

       </div>
       <!--movie end-->
       <!--movie-->
       <div class="movie">
             <h1>Movie title </h1>
             <img src="{{asset('images/3.jpg')}}" />
             <p>description</p>
             <button>More ..</button>

       </div>
       <!--movie end-->
       </div>
       <!--Movies end-->

          <!--Footer start-->
          <div class="footer">
             <p>Tous les droits reservés pourFoulenBen Foulen &copy:2020      </p>
          </div>
          <!--Footer end-->



   
</div>
<!--container end -->

  </body>
</html>