
{{ movie.title }}
{{ movie.description }}

<form method="POST" action="/addcomment">
<input type="text" name="contenu" placeholder="add comment here ...">
<input type="hidden" name="idmovie" value="{{ movie.id }}">
<input type="submit" value="Add comment">
</form>

{% for comment in commentaires %}
        <hr>

        
        {{ comment.contenu }}
        <hr>
{% endfor %}

